<div class="container" style="margin: 20px;">
    <div class="row">
      <div
        class="card border-success mb-3"
        id="card"
        *ngFor="let subject of subjects"
        (click)="setCurrentSubject(subject)"
        routerLink="/exams/subjects/{{ subject.subjectId }} "
        routerLinkActive="active"
      >
        <div class="card-header">Sınava Başla</div>
        <div class="card-body">
          <h4 class="card-title">{{ subject.subjectName }}</h4>
        </div>
      </div>
    </div>
  </div>
