

   <table mat-table [dataSource]="lessons" class="mat-elevation-z8"
   >

    <ng-container matColumnDef="lessonCode">
      <th mat-header-cell *matHeaderCellDef class="tblHeader"> Ders Kodu </th>
      <td mat-cell *matCellDef="let element" > {{element.lessonCode}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lessonName">
      <th mat-header-cell *matHeaderCellDef class="tblHeader"> Ders Adı </th>
      <td mat-cell *matCellDef="let element"> {{element.lessonName}} </td>
    </ng-container>

    <ng-container matColumnDef="edit" >
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" 
      routerLink="update" 
      class="edit" 
      routerLink="update/{{element.lessonId}}"
      (click)="openDialog()"
      
      
      > 
      <img src ="../../../../../assets/icons8-pencil-24.png"> </td>
    </ng-container>
    <!--(click)="setLessonId(element.lessonId)"-->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td  mat-cell *matCellDef="let element"  appDelete
      [id]="element.lessonId"
      (callback)="getLesson()"
      controller="lessons">  </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  