<div class="container-fluid m-2" id="about">
    <h1> <strong>Sınav Uygulamsı Hakkında</strong> </h1>

    <p>Kullanıcıların web platformu ve android uygulaması ile çevrimiçi olarak istedikleri derslerden çoktan
    seçmeli sınavlara girerek eğitimlerine katkıda bulunmak, kullanıcıları kurum ve kuruluşlarca yapılacak
    olan resmi sınavlara hazırlamak amaçlanmaktadır</p>

    <p>Başta öğrenciler ve ülkemizde yapılacak olan sınavlara girecek olan kişiler olmak üzere genel anlamda
        herkesin faydalanabileceği bir platformdur.</p>
</div>

